/* cmd . >> scss --watch -E UTF-8 .:. */


/* scss --style compact style.css:style.css */


/* scss --style expended style.css:style.css */


/* scss --style compressed style.css:style.css */

@import "_common";
.wrap {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    @include gradient(#8eb4e3, #fdeada);
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    .menu_btn {
        @include menu;
        span {
            font-family: $fontE;
            color: #5f93db;
            text-transform: uppercase;
            font-size: 1.111em;
            cursor: pointer;
            font-weight: bold;
            z-index: 10;
            &:after {
                content: '';
                width: 100%;
                height: 3px;
                display: block;
                background: #5f93db;
                margin-top: 3px;
            }
        }
    }
    .menu_box {
        position: absolute;
        top: 100vh;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #000;
        transition: 0.5s;
        visibility: hidden;
        z-index: 20;
        &.on {
            visibility: visible;
            top: 0;
        }
        span {
            position: absolute;
            top: 15%;
            left: 50%;
            transform: translateX(-50%);
            img {
                width: 170px;
            }
        }
        nav {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            a {
                font-family: $fontE;
                text-transform: uppercase;
                font-size: 7vw;
                @include gradient(#8eb4e3, #fdeada);
                color: transparent;
                -webkit-background-clip: text;
                font-weight: bold;
                padding: 15px;
                position: relative;
                &:nth-of-type(1) {
                    margin-top: 100px;
                }
                &:before {
                    content: '';
                    display: inline-block;
                    width: 0;
                    height: 1px;
                    background: #00f;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    z-index: -10;
                    transition: .5s;
                }
                &:hover:before {
                    width: 100%;
                }
            }
        }
        .close_box {
            width: 50px;
            height: 50px;
            position: absolute;
            top: 5%;
            right: 5%;
            cursor: pointer;
            span {
                position: absolute;
                top: 25px;
                left: 0;
                width: 100%;
                height: 3px;
                background: #fff;
                &:nth-of-type(1) {
                    transform: rotate(-45deg)
                }
                &:nth-of-type(2) {
                    transform: rotate(45deg)
                }
            }
        }
    }
}

.content_box {
    width: 100%;
    min-width: 1920px;
    height: 100%;
    min-height: 1080px;
    display: flex;
    padding: 5% 0 3%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > a {
        img {
            width: 170px;
        }
    }
    > span {
        position: relative;
        &:after {
            content: '';
            display: inline-block;
            width: 4px;
            height: 10px;
            border-radius: 2px;
            background: #fff;
            position: absolute;
            top: 15px;
            left: 50%;
            transform: translateX(-50%);
            animation: mouse_ani 2s infinite;
        }
    }
}

.profile_box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform-origin: center center;
    transition: 1s;
    position: relative;
    z-index: 1;
    &.on {
        transform: rotateX(90deg) rotateY(0deg);
    }
    > li {
        width: 1150px;
        height: 650px;
        min-height: 650px;
        background: #fff;
        position: relative;
        overflow: hidden;
        &:nth-of-type(1) {
            background: #fff url(../img/back_dot.png) no-repeat left 20% top 20%;
            background-size: 90%;
            border-radius: 0 100px 0 0;
            padding: 0 6%;
            transform: rotateX(0deg) translateY(0px) translateZ(325px);
            strong {}
            > small {
                position: absolute;
                top: 3%;
                left: -5%;
                color: #f0cccc;
                transform: rotate(-90deg);
                transform-origin: top right;
                font-family: $fontE;
                font-size: 1.111em;
                letter-spacing: 0.25em;
            }
            ul {
                position: absolute;
                top: 36%;
                left: 40%;
                li {
                    line-height: 2em;
                    &:nth-of-type(4) {
                        margin-top: 40px;
                        span:nth-of-type(2) {
                            display: block;
                            padding-left: 118px;
                        }
                    }
                    em {
                        color: #7d96c1;
                        font-style: normal;
                        font-weight: bold;
                        font-family: $fontE;
                        font-size: 1.111em;
                    }
                    span {
                        color: #7d96c1;
                        font-size: 1.111em;
                        font-family: $fontE;
                        small {
                            color: #7d96c1;
                        }
                    }
                }
            }
            div {
                font-family: $fontE;
                font-size: 11.111em;
                color: #dde3ed;
                position: absolute;
                bottom: -10%;
                right: -3%;
                cursor: default;
            }
        }
        &:nth-of-type(2) {
            transform-origin: center center;
            transform: rotateX(-90deg) translateY(0) translateZ(325px);
            position: absolute;
            display: flex;
            justify-content: space-between;
            border-radius: 0 0 0 100px;
            padding: 0 100px 0 80px;
            background: #fff url(../img/back_dot_s.png) no-repeat right 7% bottom 5%;
            background-size: 70%;
            > span {
                position: absolute;
                font-family: $fontE;
                font-size: 7.778em;
                color: #dde3ed;
                cursor: default;
                &:nth-of-type(1) {
                    top: -4%;
                    left: -1%;
                    color: #f7e7e7;
                    white-space: pre-line;
                    line-height: 0.8em;
                }
                &:nth-of-type(2) {
                    bottom: -7%;
                    right: -2%;
                }
            }
        }
    }
}

.profile_edu {
    position: relative;
    &:after {
        content: '';
        width: 1px;
        height: 75%;
        position: absolute;
        bottom: 0;
        left: 185px;
        background: linear-gradient(to bottom, #f7e7e7, #dde3ed, #f7e7e7);
    }
    ul {
        li {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 10;
            &:nth-of-type(1),
            &:nth-of-type(3) {
                color: #dfa0a0;
                left: 54px;
                em {
                    left: -50px;
                }
                p {
                    margin-left: -50px;
                }
                .line {
                    span {
                        background: #dfa0a0;
                        &:nth-of-type(1) {
                            order: 3;
                            margin-left: 7px;
                            &:after {
                                border: 1px solid #dfa0a0;
                            }
                        }
                        &:nth-of-type(2) {
                            order: 2;
                        }
                        &:nth-of-type(3) {
                            order: 1;
                        }
                    }
                }
            }
            &:nth-of-type(1) {
                bottom: 330px;
            }
            &:nth-of-type(2) {
                color: #7d96c1;
                bottom: 220px;
                left: 178px;
                em {
                    right: 0;
                }
                p {
                    text-align: right;
                }
                .line {
                    span {
                        background: #7d96c1;
                        &:nth-of-type(1) {
                            margin-right: 7px;
                            &:after {
                                border: 1px solid #7d96c1;
                            }
                        }
                    }
                }
            }
            &:nth-of-type(3) {
                bottom: 70px;
            }
            .line {
                display: flex;
                align-items: center;
                span {
                    font-size: 0;
                    &:nth-of-type(1) {
                        position: relative;
                        width: 16px;
                        height: 16px;
                        border-radius: 16px;
                        &:after {
                            content: '';
                            width: 30px;
                            height: 30px;
                            border-radius: 30px;
                            display: inline-block;
                            position: absolute;
                            top: -8px;
                            left: -8px;
                        }
                    }
                    &:nth-of-type(2) {
                        width: 100px;
                        height: 1px;
                    }
                    &:nth-of-type(3) {
                        width: 16px;
                        height: 16px;
                        border-radius: 8px;
                    }
                }
            }
            em {
                position: absolute;
                top: -7px;
                font-style: normal;
                font-family: $fontE;
                font-size: 1.667em;
                font-weight: bold;
                color: inherit;
            }
            p {
                width: 200px;
                line-height: 1.5em;
                font-size: 0.889em;
                padding-top: 20px;
                color: inherit;
                small {
                    color: inherit;
                    font-size: 1.125em;
                    font-family: $fontE;
                }
            }
        }
    }
}

.profile_skill {
    position: relative;
    width: 50%;
    padding-top: 140px;
    padding-left: 20px;
    > span {
        position: absolute;
        top: 0;
        right: -100px;
        font-family: $fontE;
        font-size: 1.5em;
        font-weight: bold;
        &:after {
            content: '';
            display: inline-block;
            width: 50px;
            height: 1px;
            vertical-align: middle;
            margin-left: 10px;
        }
        &:nth-of-type(1) {
            color: #7d96c1;
            top: 170px;
            &:after {
                background: #7d96c1;
            }
        }
        &:nth-of-type(2) {
            color: #dfa0a0;
            top: 300px;
            &:after {
                background: #dfa0a0;
            }
        }
    }
}

.graph {
    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            width: 90px;
            height: 90px;
            position: relative;
            margin-right: 40px;
            margin-bottom: 40px;
            &:nth-of-type(3n) {
                margin-right: 0;
            }
            .c-pie {
                display: flex;
                align-items: center;
                margin-right: 1rem;
                position: relative;
                width: 100%;
                height: 100%;
            }
            .c-pie__t {
                position: absolute;
                top: 8px;
                left: 8px;
                width: 74px;
                height: 74px;
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 74px;
                font-weight: bold;
                font-family: $fontE;
            }
            .c-pie__c {
                margin: 0 auto;
                transform: rotate(-90deg);
                background: #dde3ed;
                border-radius: 50%;
                display: block;
                width: 100%;
                height: 100%;
            }
            .c-pie__s {
                fill: #fff;
                stroke: #f00;
                stroke-width: 50;
                stroke-dasharray: 0 158;
                animation: pieline1 ease-out 2s;
                animation-iteration-count: 1;
                @media screen and (prefers-reduced-motion: reduce) {
                    animation: none;
                }
            }
            .c-pie__i {
                fill: #fff;
                animation: pieinner1 ease-out 1.2s;
                animation-iteration-count: 1;
                @media screen and (prefers-reduced-motion: reduce) {
                    animation: none;
                }
            }
            .c-pie--2 {
                .c-pie__s {
                    animation-name: pieline2;
                }
            }
        }
    }
}

@keyframes mouse_ani {
    0% {
        top: 15px;
    }
    50% {
        top: 31px;
    }
    100% {
        top: 15px;
    }
}


@keyframes pieline2 {
    0% {
        stroke-dasharray: 0 158;
    }
}