/* cmd . >> scss --watch -E UTF-8 .:. */
/* scss --style compact style.css:style.css */
/* scss --style expended style.css:style.css */
/* scss --style compressed style.css:style.css */
* {
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic', sans-serif, 'Questrial', sans-serif;
  font-size: 18px;
  color: #333;
  box-sizing: border-box; }

.explore {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
  justify-content: center;
  align-items: center;
  background: #000;
  color: #fff; }
  .explore div {
    color: inherit; }
  .explore a {
    color: inherit;
    font-weight: bold;
    margin-left: 8px;
    text-decoration: underline; }

ul,
li {
  list-style-type: none; }

a {
  color: #333;
  text-decoration: none; }

span,
em,
strong,
a,
small {
  display: inline-block; }

input,
textarea {
  outline-style: none;
  border: none; }

p {
  white-space: pre-line; }

.contact_box {
  position: fixed;
  width: 55vw;
  height: 100vh;
  top: 0;
  right: -55vw;
  background: #000;
  z-index: 30;
  visibility: hidden;
  transition: .5s; }
  .contact_box.on {
    visibility: visible;
    right: 0; }
  .contact_box div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .contact_box div span {
      margin-top: 3%; }
      .contact_box div span img {
        width: 170px; }
    .contact_box div ul {
      margin-top: 7%; }
      .contact_box div ul li {
        width: 40vw;
        height: 100%;
        display: flex;
        padding: 2vh 0;
        justify-content: space-between; }
        .contact_box div ul li input {
          padding: 30px 40px;
          width: 48%; }
        .contact_box div ul li input::placeholder {
          font-family: "Questrial", sans-serif;
          color: #ddd; }
        .contact_box div ul li:nth-of-type(3) textarea {
          font-family: "Nanum Gothic", sans-serif;
          width: 100%;
          height: 200px;
          padding: 30px 40px;
          resize: vertical; }
          .contact_box div ul li:nth-of-type(3) textarea::placeholder {
            color: #ddd; }
        .contact_box div ul li:nth-of-type(4) {
          justify-content: center; }
          .contact_box div ul li:nth-of-type(4) input {
            cursor: pointer;
            width: 30%;
            padding: 20px;
            text-align: center;
            text-transform: uppercase;
            font-family: "Questrial", sans-serif;
            margin-top: 5%;
            color: #fff; }
    .contact_box div .close_box {
      width: 50px;
      height: 50px;
      position: absolute;
      top: 5%;
      right: 5%;
      cursor: pointer; }
      .contact_box div .close_box span {
        position: absolute;
        top: 25px;
        left: 0;
        width: 100%;
        height: 3px;
        background: #fff; }
        .contact_box div .close_box span:nth-of-type(1) {
          transform: rotate(-45deg); }
        .contact_box div .close_box span:nth-of-type(2) {
          transform: rotate(45deg); }

@media (max-width: 1024px) {
  .contact_box {
    width: 100%;
    right: -100vw; }
    .contact_box div ul li {
      width: 70vw; }
      .contact_box div ul li:nth-of-type(4) input {
        width: 35%; } }
@media (max-width: 480px) {
  .contact_box div span img {
    width: 130px; }
  .contact_box div ul li {
    padding: 1vh 0; }
    .contact_box div ul li input {
      padding: 15px 15px; }
    .contact_box div ul li:nth-of-type(4) input {
      width: 100%; } }
.wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(135deg, #93cddd, #eaf1de); }

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20; }
  header .menu_btn {
    position: absolute;
    top: 5vh;
    right: 5vw; }
    header .menu_btn span {
      font-family: "Questrial", sans-serif;
      color: #31859c;
      text-transform: uppercase;
      font-size: 1.111em;
      cursor: pointer;
      font-weight: bold;
      z-index: 10; }
      header .menu_btn span:after {
        content: '';
        width: 100%;
        height: 3px;
        display: block;
        background: #31859c;
        margin-top: 3px; }
  header .menu_box {
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    transition: 0.5s;
    visibility: hidden;
    z-index: 20; }
    header .menu_box.on {
      visibility: visible;
      top: 0; }
    header .menu_box span {
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translateX(-50%); }
      header .menu_box span img {
        width: 170px; }
    header .menu_box nav {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      header .menu_box nav a {
        font-family: "Questrial", sans-serif;
        text-transform: uppercase;
        font-size: 7vw;
        background: linear-gradient(135deg, #93cddd, #eaf1de);
        color: transparent;
        -webkit-background-clip: text;
        font-weight: bold;
        padding: 15px;
        position: relative; }
        header .menu_box nav a:nth-of-type(1) {
          margin-top: 100px; }
        header .menu_box nav a:before {
          content: '';
          display: inline-block;
          width: 0;
          height: 1px;
          background: #0ff;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          z-index: -10;
          transition: .5s; }
        header .menu_box nav a:hover:before {
          width: 100%; }
    header .menu_box p {
      position: absolute;
      bottom: 10px;
      right: 10px; }
    header .menu_box .close_box {
      width: 50px;
      height: 50px;
      position: absolute;
      top: 5%;
      right: 5%;
      cursor: pointer; }
      header .menu_box .close_box span {
        position: absolute;
        top: 25px;
        left: 0;
        width: 100%;
        height: 3px;
        background: #fff; }
        header .menu_box .close_box span:nth-of-type(1) {
          transform: rotate(-45deg); }
        header .menu_box .close_box span:nth-of-type(2) {
          transform: rotate(45deg); }

.wrap > a {
  position: absolute;
  top: 5vw;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  display: inline-block; }
  .wrap > a img {
    width: 170px; }

.content_box {
  width: 100%;
  min-width: 1920px;
  height: 100%;
  padding: 17% 100px 0 130px;
  overflow: hidden;
  position: relative;
  transition: margin 1s; }
  .content_box.on {
    margin-top: -100vh; }
  .content_box .pj_list {
    position: absolute;
    top: 120px;
    left: 130px;
    height: 70%;
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .content_box .pj_list li {
      padding: 10px 0;
      cursor: pointer;
      color: #fff;
      font-size: 1.389em;
      font-weight: 700;
      transition: .5s; }
      .content_box .pj_list li.on {
        font-weight: 800;
        font-size: 1.667em;
        color: #31859c; }
        .content_box .pj_list li.on small {
          font-weight: bold; }
      .content_box .pj_list li:hover {
        color: #31859c; }
      .content_box .pj_list li small {
        font-weight: normal;
        color: inherit;
        font-family: "Questrial", sans-serif;
        font-size: inherit; }
  .content_box figure {
    width: 85%;
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 30px;
    overflow: hidden; }
    .content_box figure.on figcaption {
      opacity: 1; }
    .content_box figure.on .art_img {
      margin-right: 0; }
    .content_box figure.on .line span:after {
      width: 640px; }
    .content_box figure figcaption {
      opacity: 0;
      padding: 20px 0;
      position: relative;
      transition: .7s; }
      .content_box figure figcaption > span {
        background: #333;
        padding: 7px 20px;
        font-size: 0.778em;
        color: #fff;
        border-radius: 20px;
        margin-bottom: 100px; }
      .content_box figure figcaption h1 {
        font-size: 2.778em; }
      .content_box figure figcaption h2 {
        font-size: 2.778em; }
      .content_box figure figcaption .line {
        position: absolute;
        bottom: 160px;
        left: -30px; }
        .content_box figure figcaption .line span {
          width: 24px;
          height: 24px;
          border-radius: 24px;
          background: #333;
          font-size: 0; }
          .content_box figure figcaption .line span:after {
            content: '';
            display: inline-block;
            width: 0px;
            height: 3px;
            background: #333;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            transition: .7s; }
      .content_box figure figcaption p {
        line-height: 1.5em;
        padding: 60px 0 50px; }
      .content_box figure figcaption a {
        font-family: "Questrial", sans-serif;
        font-weight: bold; }
        .content_box figure figcaption a span {
          font-family: inherit;
          padding-left: 10px;
          transition: .5s; }
        .content_box figure figcaption a:hover span {
          padding-left: 15px; }
    .content_box figure .art_img {
      width: 950px;
      min-width: 950px;
      overflow: hidden;
      margin-right: -1000px;
      transition: .7s; }
      .content_box figure .art_img img {
        width: 100%; }

.detail_box {
  margin-top: 100vh;
  padding: 13% 120px 0 180px;
  transition: margin 1s; }
  .detail_box.on {
    margin-top: 0; }
  .detail_box figure {
    display: flex;
    justify-content: space-between; }
    .detail_box figure figcaption {
      min-width: 780px;
      position: relative; }
      .detail_box figure figcaption > span {
        background: #333;
        padding: 7px 20px;
        font-size: 0.778em;
        color: #fff;
        border-radius: 20px;
        margin-bottom: 50px; }
      .detail_box figure figcaption h1 {
        font-size: 2.778em; }
      .detail_box figure figcaption h2 {
        font-size: 2.778em; }
      .detail_box figure figcaption .line {
        position: absolute;
        bottom: 460px;
        left: -40px; }
        .detail_box figure figcaption .line span {
          width: 24px;
          height: 24px;
          border-radius: 24px;
          background: #333;
          font-size: 0; }
          .detail_box figure figcaption .line span:after {
            content: '';
            display: inline-block;
            width: 700px;
            height: 3px;
            background: #333;
            position: relative;
            top: 50%;
            transform: translateY(-50%); }
      .detail_box figure figcaption .detail_text {
        padding-top: 80px; }
        .detail_box figure figcaption .detail_text li {
          display: flex;
          align-items: flex-start;
          padding-bottom: 10px; }
          .detail_box figure figcaption .detail_text li em {
            font-style: normal;
            font-weight: bold;
            padding-right: 5px;
            line-height: 1.5em; }
          .detail_box figure figcaption .detail_text li p {
            display: inline-block;
            white-space: pre-line;
            line-height: 1.5em; }
          .detail_box figure figcaption .detail_text li:nth-of-type(4) {
            padding: 40px 0 50px; }
      .detail_box figure figcaption > a {
        width: 250px;
        height: 75px;
        border: 3px solid #333;
        border-radius: 100px;
        line-height: 70px;
        font-family: "Questrial", sans-serif;
        text-align: center;
        font-weight: bold;
        margin-right: 20px;
        transition: background .5s; }
        .detail_box figure figcaption > a:hover {
          color: #fff;
          background: #333; }
    .detail_box figure .detail_img {
      position: relative; }
      .detail_box figure .detail_img img {
        position: relative;
        z-index: 10; }
      .detail_box figure .detail_img video {
        position: absolute;
        top: 22px;
        right: 1%;
        width: 98%;
        z-index: 1; }

@media (max-width: 1024px) {
  header .menu_box nav a {
    font-size: 10vw; }

  .wrap > a {
    top: 10vw; }

  .content_box {
    width: 100%;
    min-width: inherit;
    height: 100vh;
    min-height: auto;
    padding: 370px 0 130px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    transition: margin 1s; }
    .content_box.on {
      margin-top: -100vh; }
    .content_box .pj_list {
      position: absolute;
      top: 250px;
      left: 0px;
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .content_box .pj_list li {
        padding: 10px 10px;
        cursor: pointer;
        color: #fff;
        font-size: 1.389em;
        font-weight: 700;
        transition: .5s; }
        .content_box .pj_list li.on {
          font-weight: 800;
          font-size: 1.667em;
          color: #31859c; }
          .content_box .pj_list li.on small {
            font-weight: bold; }
        .content_box .pj_list li:hover {
          color: #31859c; }
        .content_box .pj_list li small {
          font-weight: normal;
          color: inherit;
          font-family: "Questrial", sans-serif;
          font-size: inherit; }
    .content_box figure {
      width: 85%;
      float: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 30px;
      overflow: hidden;
      margin: 0 auto; }
      .content_box figure.on figcaption {
        opacity: 1; }
      .content_box figure.on .art_img {
        margin-right: 0; }
      .content_box figure.on .line span:after {
        width: 500px; }
      .content_box figure figcaption {
        text-align: center;
        order: 2;
        opacity: 0;
        padding: 80px 0;
        position: relative;
        transition: .7s; }
        .content_box figure figcaption > span {
          display: none; }
        .content_box figure figcaption h1 {
          font-size: 2.778em; }
        .content_box figure figcaption h2 {
          font-size: 2.778em; }
        .content_box figure figcaption .line {
          position: absolute;
          top: 205px;
          left: -12%; }
          .content_box figure figcaption .line span {
            width: 24px;
            height: 24px;
            border-radius: 24px;
            background: #333;
            font-size: 0; }
            .content_box figure figcaption .line span:after {
              content: '';
              display: inline-block;
              width: 0px;
              height: 3px;
              background: #333;
              position: relative;
              top: 50%;
              transform: translateY(-50%);
              transition: .7s; }
        .content_box figure figcaption p {
          padding: 70px 0 60px; }
      .content_box figure .art_img {
        order: 1;
        width: 100%;
        min-width: auto;
        overflow: hidden;
        margin-right: -2000px;
        transition: .7s; }
        .content_box figure .art_img img {
          width: 100%; }

  .detail_box {
    margin-top: 100vh;
    padding: 120px 0 0;
    margin: 0 auto;
    transition: margin 1s; }
    .detail_box.on {
      margin-top: 0; }
    .detail_box figure {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .detail_box figure figcaption {
        order: 2;
        min-width: auto;
        position: relative;
        text-align: center;
        top: -60px; }
        .detail_box figure figcaption > span {
          width: 80px;
          background: #333;
          padding: 7px 20px;
          font-size: 0.778em;
          color: #fff;
          border-radius: 20px;
          margin: 20px auto;
          display: block; }
        .detail_box figure figcaption h1 {
          display: inline-block;
          font-size: 2.3em;
          padding-right: 11px; }
        .detail_box figure figcaption h2 {
          display: inline-block;
          font-size: 2.3em; }
        .detail_box figure figcaption .line {
          display: none; }
        .detail_box figure figcaption .detail_text {
          padding-top: 30px; }
          .detail_box figure figcaption .detail_text li {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            padding-bottom: 10px; }
            .detail_box figure figcaption .detail_text li em {
              font-style: normal;
              font-weight: bold;
              padding-right: 5px;
              line-height: 1.5em; }
            .detail_box figure figcaption .detail_text li p {
              display: inline-block;
              white-space: pre-line;
              line-height: 1.5em;
              text-align: left; }
            .detail_box figure figcaption .detail_text li:nth-of-type(4) {
              padding: 30px 0 40px; }
        .detail_box figure figcaption > a {
          width: 250px;
          height: 75px;
          border: 3px solid #333;
          border-radius: 100px;
          line-height: 70px;
          font-family: "Questrial", sans-serif;
          text-align: center;
          font-weight: bold;
          margin: 0 10px;
          transition: background .5s; }
          .detail_box figure figcaption > a:hover {
            color: #fff;
            background: #333; }
      .detail_box figure .detail_img {
        transform: scale(0.75);
        order: 1;
        position: relative; }
        .detail_box figure .detail_img img {
          position: relative;
          z-index: 10; }
        .detail_box figure .detail_img video {
          position: absolute;
          top: 20px;
          right: 1%;
          width: 98%;
          z-index: 1; } }
@media (max-width: 768px) {
  .content_box {
    transform: scale(0.9);
    width: 100%;
    min-width: inherit;
    height: 100vh;
    min-height: auto;
    padding: 250px 0 130px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    transition: margin 1s; }
    .content_box.on {
      margin-top: -100vh; }
    .content_box .pj_list {
      position: absolute;
      top: 150px;
      left: 0px;
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .content_box .pj_list li {
        padding: 10px 10px;
        cursor: pointer;
        color: #fff;
        font-size: 1.389em;
        font-weight: 700;
        transition: .5s; }
        .content_box .pj_list li.on {
          font-weight: 800;
          font-size: 1.667em;
          color: #31859c; }
          .content_box .pj_list li.on small {
            font-weight: bold; }
        .content_box .pj_list li:hover {
          color: #31859c; }
        .content_box .pj_list li small {
          font-weight: normal;
          color: inherit;
          font-family: "Questrial", sans-serif;
          font-size: inherit; }
    .content_box figure {
      width: 85%;
      float: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 30px;
      overflow: hidden;
      margin: 0 auto; }
      .content_box figure.on figcaption {
        opacity: 1; }
      .content_box figure.on .art_img {
        margin-right: 0; }
      .content_box figure.on .line span:after {
        width: 500px; }
      .content_box figure figcaption {
        text-align: center;
        order: 2;
        opacity: 0;
        padding: 80px 0;
        position: relative;
        transition: .7s; }
        .content_box figure figcaption > span {
          display: none; }
        .content_box figure figcaption h1 {
          font-size: 2.778em; }
        .content_box figure figcaption h2 {
          font-size: 2.778em; }
        .content_box figure figcaption .line {
          position: absolute;
          top: 205px;
          left: -12%; }
          .content_box figure figcaption .line span {
            width: 24px;
            height: 24px;
            border-radius: 24px;
            background: #333;
            font-size: 0; }
            .content_box figure figcaption .line span:after {
              content: '';
              display: inline-block;
              width: 0px;
              height: 3px;
              background: #333;
              position: relative;
              top: 50%;
              transform: translateY(-50%);
              transition: .7s; }
        .content_box figure figcaption p {
          padding: 70px 0 60px; }
      .content_box figure .art_img {
        order: 1;
        width: 100%;
        min-width: auto;
        overflow: hidden;
        margin-right: -2000px;
        transition: .7s; }
        .content_box figure .art_img img {
          width: 100%; }

  .detail_box {
    transform: scale(0.9);
    margin-top: 100vh;
    padding: 0;
    margin: 0 auto;
    transition: margin 1s; }
    .detail_box.on {
      margin-top: 0; }
    .detail_box figure {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .detail_box figure figcaption {
        transform: scale(0.9);
        order: 2;
        min-width: auto;
        position: relative;
        text-align: center;
        top: -150px; }
        .detail_box figure figcaption > span {
          width: 80px;
          background: #333;
          padding: 7px 20px;
          font-size: 0.778em;
          color: #fff;
          border-radius: 20px;
          margin: 20px auto;
          display: block; }
        .detail_box figure figcaption h1 {
          display: inline-block;
          font-size: 2.3em;
          padding-right: 11px; }
        .detail_box figure figcaption h2 {
          display: inline-block;
          font-size: 2.3em; }
        .detail_box figure figcaption .line {
          display: none; }
        .detail_box figure figcaption .detail_text {
          padding-top: 30px; }
          .detail_box figure figcaption .detail_text li {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            padding-bottom: 10px; }
            .detail_box figure figcaption .detail_text li em {
              font-style: normal;
              font-weight: bold;
              padding-right: 5px;
              line-height: 1.5em; }
            .detail_box figure figcaption .detail_text li p {
              display: inline-block;
              white-space: pre-line;
              line-height: 1.5em;
              text-align: left; }
            .detail_box figure figcaption .detail_text li:nth-of-type(4) {
              padding: 30px 0 40px; }
        .detail_box figure figcaption > a {
          width: 200px;
          height: 50px;
          border: 3px solid #333;
          border-radius: 100px;
          line-height: 45px;
          font-family: "Questrial", sans-serif;
          text-align: center;
          font-weight: bold;
          margin: 0 10px;
          transition: background .5s; }
          .detail_box figure figcaption > a:hover {
            color: #fff;
            background: #333; }
      .detail_box figure .detail_img {
        transform: scale(0.6);
        order: 1;
        position: relative; }
        .detail_box figure .detail_img img {
          position: relative;
          z-index: 10; }
        .detail_box figure .detail_img video {
          position: absolute;
          top: 20px;
          right: 1%;
          width: 98%;
          z-index: 1; } }
@media (max-width: 480px) {
  header .menu_box span img {
    width: 130px; }
  header .menu_box .close_box {
    width: 40px;
    height: 40px; } }

/*# sourceMappingURL=work.css.map */
